<div data-ng-controller="HeaderController" flex>
	<md-toolbar layout="row" data-ng-controller="HomeController as ul" class="md-whiteframe-z1 mtj-menu">
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" ng-click="toggleLeft()" aria-label="Settings">
				<md-icon md-svg-icon='menu'></md-icon>
			</md-button>
			<span>
				<md-button ng-click="navigate('home')">My Tutor Jungle</md-button>
			</span> <!-- TODO: include mtj icon in menu -->

			<span flex></span>
			<div data-ng-hide="authentication.user">
				<md-button class="md-raised" ng-click="navigate('signup')">
					Sign Up
				</md-button>
				<md-button ng-click="navigate('signin')">
					Login
				</md-button>
			</div>
			<div data-ng-show="authentication.user">
				<md-button ng-click="logout()" class="">
					Logout
				</md-button>
			</div>
		</div>
	</md-toolbar>
</div>

<section layout="row" flex>
	<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
		<md-toolbar>
			<h1 class="md-toolbar-tools">Dashboard</h1>
		</md-toolbar>
		<md-content ng-controller="HeaderController" layout-fill>
			<md-list class="">
				<md-subheader>My Tutor Jungle</md-subheader>
				<md-list-item ng-click="navigate('pricing')">
					<md-icon md-svg-icon="usd"></md-icon>
					<p>Pricing Plans</p>
				</md-list-item>

				<md-list-item ng-click="navigate('jungle')">
					<md-icon md-svg-icon="search"></md-icon>
					<p>Tutor Jungle</p>
				</md-list-item>

				<div ng-show="authentication.user">
					<md-divider></md-divider>
					<md-subheader>My Account</md-subheader>
					<md-list-item ng-click="navigate('profile')">
						<md-icon md-svg-icon="user"></md-icon>
						<p>Edit Profile</p>
					</md-list-item>
					<md-list-item ng-click="logout()">
						<md-icon md-svg-icon="lock"></md-icon>
						<p>Logout</p>
					</md-list-item>
				</div>
			</md-list>
		</md-content>
	</md-sidenav>
</section>

<!--<div class="container" data-ng-controller="HeaderController">-->
	<!--<div class="navbar-header">-->
		<!--<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">-->
			<!--<span class="sr-only">Toggle navigation</span>-->
			<!--<span class="icon-bar"></span>-->
			<!--<span class="icon-bar"></span>-->
			<!--<span class="icon-bar"></span>-->
		<!--</button>-->
		<!--<a href="/#!/" class="navbar-brand">mytutorjungle</a>-->
	<!--</div>-->
	<!--<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">-->
		<!--<ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">-->
			<!--<li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">-->
				<!--<a ng-switch-when="dropdown" class="dropdown-toggle">-->
					<!--<span data-ng-bind="item.title"></span>-->
					<!--<b class="caret"></b>-->
				<!--</a>-->
				<!--<ul ng-switch-when="dropdown" class="dropdown-menu">-->
					<!--<li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">-->
						<!--<a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>-->
					<!--</li>-->
				<!--</ul>-->
				<!--<a ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title"></a>-->
			<!--</li>-->
		<!--</ul>-->
		<!--<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">-->
			<!--<li ui-route="/signup" ng-class="{active: $uiRoute}">-->
				<!--<a href="/#!/signup">Sign Up</a>-->
			<!--</li>-->
			<!--<li class="divider-vertical"></li>-->
			<!--<li ui-route="/signin" ng-class="{active: $uiRoute}">-->
				<!--<a href="/#!/signin">Sign In</a>-->
			<!--</li>-->
		<!--</ul>-->
		<!--<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">-->
			<!--<li class="dropdown">-->
				<!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
					<!--<span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>-->
				<!--</a>-->
				<!--<ul class="dropdown-menu">-->
					<!--<li>-->
						<!--<a href="/#!/settings/profile">Edit Profile</a>-->
					<!--</li>-->
					<!--<li>-->
						<!--<a href="/#!/settings/accounts">Manage Social Accounts</a>-->
					<!--</li>-->
					<!--<li data-ng-show="authentication.user.provider === 'local'">-->
						<!--<a href="/#!/settings/password">Change Password</a>-->
					<!--</li>-->
					<!--<li class="divider"></li>-->
					<!--<li>-->
						<!--<a href="/auth/signout">Signout</a>-->
					<!--</li>-->
				<!--</ul>-->
			<!--</li>-->
		<!--</ul>-->
	<!--</nav>-->
<!--</div>-->
